@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    --body-pad: 3rem;
    --max-width: 1400px;

    margin: 0 auto;

    font-family: Roboto, Helvetica, Arial, sans-serif;
    letter-spacing: .03em;

    color: white;
}
